
        *{
          margin: 0;
          padding: 0;  
          box-sizing: border-box;
          letter-spacing: 1px;
          font-family: verdana;
          text-transform: capitalize;
        }
        .walpaper{
            width: 80rem;
            height: 35rem;
            margin: auto;
            position: relative;
            background: url('/img/bg.jpg');
            background-size: cover;
            background-repeat: no-repeat;
        
           
            
        }
        body{
            min-height: 100vh;
            display: flex;
            align-items: center;
            
        }
        .container{
            /* position: absolute; */
            height: 450px;
            width: 330px;
            /* margin-left: 10rem; */
            margin: 1rem 12rem;
            background: #fff;
            border-radius: 10px;
            box-shadow: 2px 2px 2px 2px rgb(59, 56, 56);
            padding: 10px;
            overflow-y: auto;
        }
        h1{
            font-weight: 600;
            margin: 2rem 0 0 16rem;
               
        }
        p{
            margin-top: -2.8rem;
            margin-left: 34.5rem;
            font-family: 'Lucida Sans';
            
        }
        #task{
            height: 50px;
            width: 16rem;
            outline: none;
            border: none;
            border-radius: 5px;
            background: #666;
            color: #fff;
            padding: 0 10px;
            margin: 10px 0;
        }

        #task::placeholder{
            color: #bbb;
        }

        #add{
            /* position: fixed; */
            height: 3.4em;
            width: 4em;
            float: right;
            margin-left: 1.9px;
            margin-top: .8rem;
            /* background: green; */
            cursor: pointer;
            font-weight: 900;
            color: white;
            border-radius: 5px;
        }
        ul li{
            background: #eee;
            color: #333;
            height: 40px;
            width: 16rem;
            border-radius: 50px;
            margin: 10px 0;
            margin-left: -10px;
            padding: 10px;
            position: relative;
        }
        ul .fa-check, .fa-trash-o {
            position:absolute;
            cursor: pointer;
        }
        ul .fa-check{
            right: 40px;
            color: green;
        }

        ul .fa-trash-o{
            right: 15px;
            color: #ff0033;
        }

        ul .checked{
            background:lightgreen ;
            text-decoration: line-through;
            transition: .2s;
        }
        .error {
    display: block;
    padding: 10px;
    color: #ff5050;
    clear: both;
    animation: fadeIn 3s;
}

/* .footer{
    position: fixed;
   
    width: 19.5rem;
    height: 3rem;
    bottom: 4.5rem;
    filter: blur(4px);
    background-color:rgba(0, 0, 0, 0.4);
    border-radius: 10px;
    
} */
